html,
body {
	padding: 0;
	margin: 0;
	background: white;
}

#wrapper {
	position: absolute;
	height: 100vh;
	width: 100vw;
	max-width: 100%;
}

.panels {
	position: relative;
	height: 100vh;
	min-height: 100vh;
	width: 100vw;
	max-width: 100%;
	z-index: 100;
}

#header {
	background-color: white;
	position: fixed;
	z-index: 1000;
	width: 100vw;
	height: 50px;
}

#header img {
	display: flex;
	margin: 15px;
}

#landing_screen {
	background-image: url('../images/cr_vw.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right bottom;
	z-index: -99;
	position: fixed;
}

#inner_wrapper {
	background-color: white;
	margin-top: 100vh;
}

#blurb {
	text-align: center;
	font-family: 'Reenie Beanie', cursive;
	padding-top: 1px;
}

#blurb h1 {
	font-size: 70px;
}

#blurb p {
	font-size: 30px;
	margin-top: -30px;
	font-style: italic;
}

/* -------------------------------------------------------------- */
/* landing screen background responsiveness */
/* -------------------------------------------------------------- */

@media only screen and (max-width: 800px) {
	#landing_screen {
		width: 150vw;
		max-width: 150vw;
		/*ehhh this is hacky and doesnt really look good*/
	}
}

@media only screen and (min-width: 800px) {
	#landing_screen {
		/* width: 98vw; */
	}
}

/* -------------------------------------------------------------- */
/*photo grid*/
/* -------------------------------------------------------------- */

#photo_grid {
	line-height: 0;
	background-color: black;
	padding: 0px 8px 8px 8px;
	-webkit-column-count: 3;
	-webkit-column-gap: 0px;
	-moz-column-count: 3;
	-moz-column-gap: 0px;
	column-count: 3;
	column-gap: 8px;
}

#photo_cell {
	margin-top: 8px;
	display: inline-block;
	overflow: hidden;
}

#photo_cell img {
	width: 100% !important;
	height: auto !important;
	transition: .3s;
	display: block;
}

#photo_grid img:hover {
	transform: scale(1.1);
}

@media (max-width: 1200px) {
	#photo_grid {
		-moz-column-count: 2;
		-webkit-column-count: 2;
		column-count: 2;
	}
}
@media (max-width: 800px) {
	#photo_grid {
		-moz-column-count: 1;
		-webkit-column-count: 1;
		column-count: 1;
	}
}

#photo_grid:hover img {
	filter: grayscale(1);
}

#photo_cell:hover img {
	filter: grayscale(0);
}

/* -------------------------------------------------------------- */
/*about*/
/* -------------------------------------------------------------- */

#about {
	background-image: url('../images/bw_nobg.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	background-color: white;
}

#aboutPhoto h1 {
	font-size: 70px;
	text-align: left;
	font-family: 'Reenie Beanie', cursive;
	margin: 0;
}

#aboutProg h1 {
	font-size: 70px;
	text-align: right;
	font-family: 'Reenie Beanie', cursive;
	margin: 0;
}

/* -------------------------------------------------------------- */
/*contact*/
/* -------------------------------------------------------------- */

#contact {
	background-color: black;
	line-height: 100vh;
}

#contact_link h1 {
	font-size: 4em;
	text-align: center;
	font-family: 'Reenie Beanie', cursive;
	color: white;
	margin: auto;
}

#contact_link h1 a:link {
	text-decoration: none;
	color: white;
}

#contact_link h1 a:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .4s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ffffff' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: 0 100%;
	background-size: auto 6px;
	background-repeat: repeat-x;
	text-decoration: none;
}
